body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.basic_info{
    display: block;
}

.contact_Info{
    display: none;
}

.other_info{
    display: none;
}

.error_container{
    color: red;
}